/* tasks */
.tasks-table th, .tasks-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
    
.tasks-table th {
    background-color: #f2f2f2;
}

.tasks-table div {
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

a.btn.detail-btn{
    border: 1px solid #ddd;
}

.display-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    display: inline-block;
}

.high-priority {
    background-color: #f44336;
}

.medium-priority, .in-progress-status {
    background-color: #ffa500;
}

.low-priority, .completed-status {
    background-color: #04AA6D;
}

.default-priority, .default-status {
    background-color: #e7e7e7;
}

.open-status {
    background-color: #008CBA;
}

.tasks-table {
    overflow-x: scroll;
}